<div class="text-center">



    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">
        <div class="p-2">
            <input type="email" class="form-control" placeholder="email" name="email" [(ngModel)]="email" email required
                [class.is-invalid]="exibeErro('email', form)" #emailInput>
            <div *ngIf="exibeErro('email', form)" class="invalid-feedback">Email Inválido</div>
        </div>

        <div class="p-2">
            <input type="Password" class="form-control" placeholder="Password" name="Password" [(ngModel)]="password" required
            [class.is-invalid]="exibeErro('password', form)" #passwordInput>
            <div *ngIf="exibeErro('password', form)" class="invalid-feedback">Senha invalida</div>
        </div>

        <div class="p-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </div>
    </form>
</div>